@media screen and (min-width: 1000px) {
  #nav-open {
    width: 20px;
    vertical-align: middle;
    float: right;
    display: none;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  #nav-pc {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-logo img {
    width: 110px;
    margin-bottom: 20px;
    float: left;
  }
}

